// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

$header_height: 2 * $navbar-padding-y + 2 * $nav-link-padding-y + $line-height-base * $font-size-base; //56px // 40 + 8 + 8
$footer_height: $header_height + 4; // 60px
