extends ../../layouts/default
include ../../mixins/policies/cookies
include  ../../mixins/policies/privacy

block css
	link(href="/styles/policies/policies.css", rel="stylesheet")
block content
	-
		//- creo un paragrafo finale per la lista dei cookies
		var paragrafo_lista_cookies = {titolo: 'Cookies utilizzati dal sito web', testo: ' '};
	//- creo un paragrafo iniziale vuoto per inserire il primo 
		cookies.pars.unshift({titolo:'',testo:''});
	.container: .privacy-policy
		h1 Cookie policy
			if cookies.policy.ultimoAggiornamento
				br
				small ultimo aggiornamento: #{cookies.policy.ultimoAggiornamento}
		each d, i in cookies.policy.pars
			+paragrafo(cookies.policy.pars[i], i)
			if i === 0
				+sommario(cookies.policy.pars, [paragrafo_lista_cookies])
		+paragrafo(paragrafo_lista_cookies, 1)
			if cookies.policy.numero
				div.lista-cookies
					each tipo in cookies.policy.list
						if tipo.pp.length > 0 || tipo.tp.length > 0
							+elenco_cookie(tipo)
			else
				div Questo sito non utilizza cookies.
		.privacy-policy__container
			.privacy-policy__titolo.privacy-policy__titolo--sticky
			.privacy-policy__paragrafo.privacy-policy__paragrafo--sticky
				h4.text-right
					span.consenti(onclick='consenti()') proseguendo la navigazione si accetta la presente cookie policy >>
block js
	script.
		function consenti() {
			new Banner(true).setCookie();
			document.location = '/';
		}
